[Unit]
Description=Redis In-Memory Data Store
After=network.target

[Service]
User=redis
Group=redis
ExecStart=/home/junaid/redis-5.0.7/src/redis-server
ExecStop=/home/junaid/redis-5.0.7/src/redis-cli shutdown
Restart=always

[Install]
WantedBy=multi-user.target